*{
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 25rem;
  background-color: #F8F8F8;
  height: 100%;
}

.editor {
  width: 80%;
  height:100%;
  background: #ffffff;
}

/* MEDIA QUERIES */
@media screen and (max-width: 640px) {
  .sidebar {
    width: 40rem;
  }
  .editor {
    width: 0;
  }
}