.sidebar-container {
  width: 100%;
  padding: 0.7em 0.7em;
}

.header-top {
  justify-content: space-between;
  display: flex;
}

.header-below {
  justify-content: space-between;
  display: flex;
}

.header-account {
  display: flex;
}